# venvs
.venv/
venv/
lab_01/
# caches
__pycache__/
.pytest_cache/
# OS/editor
.DS_Store
.vscode/
# build
dist/
*.egg-info/
# data outputs
data/*
MLOps/Lab2/models/
MLOps/Lab2/metrics/
MLOps/Data_Labs/
